ACCOUNTS_189='13800000000:password1,13900000000:password2'
# 二选一填一个即可，GH_TOKEN 优先
GH_TOKEN='github_pat_xxx'
# GITHUB_TOKEN='github_pat_xxx'
GIST_ID='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
# 失败才推送，企微机器人 webhook，为空不推
PUSH_URL='https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxx'
